nav{
    position: relative;
    
}
nav a{
    font-size: 6em;
    position: relative;
    list-style: none;
    margin:  20px;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a::before{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow:hidden;
    transition: 0.3s ease-in-out;
}
nav a:nth-child(1)::before{
    content:"\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}
nav a:nth-child(2)::before{
    content: "\f232";
    color: #a4c639 ;
    border-bottom: 4px solid #a4c639 ;
}
nav a:nth-child(3)::before{
    content: "\f082";
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;
}
nav a:nth-child(4)::before{
    content: "\f0e0";
    color: #0072c6 ;
    border-bottom: 4px solid #0072c6 ;
}
nav a:nth-child(5)::before{
    content: "\f5a0";
    color: #FF0000;
    border-bottom: 4px solid #FF0000;

}
nav a:hover::before{
    height: 100%;
}

